.worksBlock {
    background-color: cyan;
}

.container {
    min-height: 60vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid;
    flex-wrap: wrap;
}

.title {
    background-color: green;
}

.work {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

