.skillsBlock {
    min-height: 50vh;
    background-color: blueviolet;
}

.skillsContainer {
    border: 1px solid;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.title {
    background-color: pink;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}