.mainBlock {
    min-height: 70vh;
    background-color: darkgray;
   
}

.genInform {
    width: 300px;
    background-color: wheat;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: wheat;
}